* {
  scroll-behavior: smooth;
  scroll-padding: 60px;
}
h2,
p,
.h2 {
  font-family: "PT Serif", serif;
}
.small {
  font-size: 10px !important;
}
h1 {
  font-family: "Mr De Haviland", cursive;
  font-weight: 800;
}
#Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mr De Haviland", cursive;
  background-color: rgba(240, 174, 86, 0.7);
  color: #fff;
}
.heading {
  font-weight: 200;
  font-size: clamp(5rem, 8vw, 7rem);
  text-align: center;
  letter-spacing: 5px;
}
.title {
  font-weight: 400;
  font-size: 20px;
}
#about {
  background: rgba(240, 174, 86, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #fff;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
  }
}
#gallery,
#Ready,
#Style {
  background-color: rgba(240, 174, 86, 0.7);
  color: #fff;
  font-family: "Mr De Haviland", cursive;
}
.col {
  display: grid;
  justify-content: center;
}
.img:hover {
  border-radius: 0px 20px;
  cursor: pointer;
  transform: scale(1.05);
}
@media screen and (max-width: 1200px) {
  .img:hover {
    border-radius: 0px 20px;
    box-shadow: none;
    cursor: pointer;
    transform: scale(1.05);
  }
}
.text {
  text-align: center;
}
#contact {
  background: rgba(240, 174, 86, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: "cursive";
  font-weight: 200;
}
.social {
  color: white;
  letter-spacing: 10px;
  font-size: 15px;
}
.fa:hover {
  border-radius: 0px 20px;
  box-shadow: 0rem 0rem 3.38rem rgba(240, 174, 86, 1);
  cursor: pointer;
  transform: scale(1.05);
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgb(49, 3, 49);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#before::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: red;
}
